.display-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.card{
  padding: 30px 25px 10px 25px;
  border-radius: 10px;
  position:relative;
  -webkit-box-shadow: 5px 5px 15px 5px #858585; 
  box-shadow: 5px 5px 15px 5px #858585;
}

.icons{
  font-size:1.5em;
  display:grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  width:50px;
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
}

nav{
  position: absolute;
  right:0;
}

.heart{
  cursor: pointer;
  font-size: 40px;
}

.dollar{
  padding-top: 15px;
  font-size: 20px;
  cursor: pointer;
}